<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "MANAGEGROUPS.header" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h1 align="center">{{ "MANAGEGROUPS.title" | translate }}</h1>
    <h4 align="center">{{ "MANAGEGROUPS.subtitle" | translate }}</h4>

	<br>
		<ion-list *ngFor="let item of display_groups">
		<ion-item>
			<ion-label>{{item.Name}}</ion-label>
			<ion-toggle [(ngModel)]="item.isOn" (ionChange)="UpdateSelection(item)"> </ion-toggle>
			<ion-button shape="round" color="danger" (click)="deleteGroup(item)">
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>

	<ion-item>
		<ion-label align="center" position="floating">{{ "MANAGEGROUPS.text" | translate }}</ion-label>
		<ion-textarea [(ngModel)]="message"></ion-textarea>
	</ion-item>
    <div align="center">
        <ion-button  (click)="buildAddressList()" class="submit-btn" type="submit">{{ "MANAGEGROUPS.button" | translate }}</ion-button>
    </div>
</ion-content>
