<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"LOGOUT.header" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<br>
<br>
<ion-content>
	<ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        {{"LOGOUT.text" | translate }} {{userEmail}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        {{"LOGOUT.logtext" | translate }}
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>


<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title align="center">{{"LOGOUT.button" | translate }}</ion-title>
  </ion-toolbar>
</ion-footer>